<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf.bookcity.dao.OrderMasterDao">

    <resultMap id="getOrderDetailMap" type="com.nf.bookcity.entity.OrderDetail">
        <id property="detailId" column="detail_id"/>
        <result property="detailOrderId" column="detail_order_id"/>
        <result property="detailBookName" column="detail_book_name"/>
        <result property="detailBookPicUrl" column="detail_book_pic_url"/>
        <result property="detailBookCnt" column="detail_book_cnt"/>
        <result property="detailBookPrice" column="detail_book_price"/>
        <result property="detailBookTotail" column="detail_book_totail"/>
    </resultMap>
    
    <resultMap id="getOrderMasterMap" type="com.nf.bookcity.entity.OrderMaster">
        <id property="orderId" column="order_id"/>
        <result property="orderSn" column="order_sn"/>
        <result property="orderCustomerId" column="order_customer_id"/>
        <result property="orderCustomerName" column="order_customer_name"/>
        <result property="orderCustomerPhone" column="order_customer_phone"/>
        <result property="orderCustomerAddress" column="order_customer_address"/>
        <result property="orderMoney" column="order_money"/>
        <result property="orderPaymentMoney" column="order_payment_money"/>
        <result property="orderCreateTime" column="order_create_time"/>
        <result property="orderStatus" column="order_status"/>
        <result property="orderModifiedTime" column="order_modified_time"/>

        <collection property="orderDetailList" resultMap="getOrderDetailMap"/>
    </resultMap>

    <select id="getOrderMasterPageAll" resultMap="getOrderMasterMap">
        select order_id, order_sn, order_customer_id, order_customer_name, order_customer_phone, order_customer_address, order_money, order_payment_money, order_create_time, order_status, order_modified_time, detail_id, detail_order_id, detail_book_name,detail_book_pic_url, detail_book_cnt, detail_book_price, detail_book_totail from order_master om
        inner join order_detail od on om.order_id = od.detail_order_id
        order by om.order_id
    </select>

    <select id="getOrderMasterAll" resultMap="getOrderMasterMap">
        select order_id, order_sn, order_customer_id, order_customer_name, order_customer_phone, order_customer_address, order_money, order_payment_money, order_create_time, order_status, order_modified_time, detail_id, detail_order_id, detail_book_name,detail_book_pic_url, detail_book_cnt, detail_book_price, detail_book_totail from order_master om
        inner join order_detail od on om.order_id = od.detail_order_id
    </select>

    <select id="getOrderMasterByCustomerId" resultMap="getOrderMasterMap">
        select order_id, order_sn, order_customer_id, order_customer_name, order_customer_phone, order_customer_address, order_money, order_payment_money, order_create_time, order_status, order_modified_time, detail_id, detail_order_id, detail_book_name,detail_book_pic_url, detail_book_cnt, detail_book_price, detail_book_totail from order_master om
        inner join order_detail od on om.order_id = od.detail_order_id
        where om.order_customer_id = #{customerId}
    </select>

    <select id="getOrderMasterByOrderStatus" resultMap="getOrderMasterMap">
        select order_id, order_sn, order_customer_id, order_customer_name, order_customer_phone, order_customer_address, order_money, order_payment_money, order_create_time, order_status, order_modified_time, detail_id, detail_order_id, detail_book_name,detail_book_pic_url, detail_book_cnt, detail_book_price, detail_book_totail from order_master om
        inner join order_detail od on om.order_id = od.detail_order_id
        where om.order_status = #{orderStatus}
        order by om.order_sn
    </select>

    <select id="getOrderMasterByOrderSn" resultMap="getOrderMasterMap">
        select  order_id,
                order_sn,
                order_customer_id,
                order_customer_name,
                order_customer_phone,
                order_customer_address,
                order_money,
                order_payment_money,
                order_create_time,
                order_status,
                order_modified_time
        from order_master
        where order_sn = #{orderSn}
    </select>

    <insert id="insertOrder">
        insert into order_master(   order_sn,
                                    order_customer_id,
                                    order_customer_name,
                                    order_customer_phone,
                                    order_customer_address,
                                    order_money,
                                    order_payment_money,
                                    order_create_time,
                                    order_status,
                                    order_modified_time)
        values (#{orderSn},
                #{orderCustomerId},
                #{orderCustomerName},
                #{orderCustomerPhone},
                #{orderCustomerAddress},
                #{orderMoney},
                #{orderPaymentMoney},
                #{orderCreateTime},
                #{orderStatus},
                #{orderModifiedTime})
    </insert>

    <update id="updateOrderStatusByOrderId">
        update order_master
        set order_status = #{param2}
        where order_id = #{param1}
    </update>

</mapper>